* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, sans-serif;
    font-size: 16px;
}
.book {
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book__left,
.book__right {
    width: 50%;
    height: 80vh;
    border: 2px solid #000;
    padding: 80px;
    box-sizing: border-box;
}
.book__left h2, 
.book__right h2 {
    font-size: 26px;
    margin-bottom:50px;
}

.book__item {
    list-style: none;
    cursor: pointer;
    display: flex;
    padding: 5px;
    transition: .1s background;
    position: relative;
}
.book__item:hover {
    background: rgba(204, 204, 204, 0.52);
}
.book__item > img {
    width: 40px;
}
.book__name {
    font-size: 21px;
}
.book__auth {
    font-size: 14px;
}
.edit {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 14px;
}
.edit:hover {
    text-decoration: underline;
}