// header
$body-bg-color: #21232E;

$main-text-color: #fff;

$headings-color: #fff;

$background-header: url(../img/m-h-night.jpg);

$main-font:'Fresca', sans-serif;

$headers-font: 'Source Sans Pro', sans-serif;

$text-decoration-color: #FF4E33;

$section-card-bg:#3B3F50;

$logo-top-color: #fff;
$logo-bot-color: #D1D1D1;


$button-bg:#E3AC00;
$button-color: #fff;
$button-hover: purple;


$footer-bg: #3B3F50;
$footer-color:#D1D1D1;



$gradient-color-1: #DB9F08;
$gradient-color-2: #942E52;



