// header
$body-bg-color: #fff;

$main-text-color: #2C2F3C;

$headings-color: #2C2F3C;

$background-header: url(../img/m-h-day.jpg);

$main-font:'Source Sans Pro', sans-serif;

$headers-font: 'Source Sans Pro', sans-serif;

$text-decoration-color: #14A0C7;

$section-card-bg:#21232E;


$logo-top-color: #2C2F3C;
$logo-bot-color: #C0C3CE;


$button-bg:#699900;
$button-color: #fff;
$button-hover: purple;


$footer-bg: #21232E;
$footer-color:#C0C3CE;



$gradient-color-1: #66960B;
$gradient-color-2: #305ECD;

